.fadeOut
{
    text-align: center;
    border: dashed medium grey;
    margin: 50px;
    border-radius: 2rem;
    padding: 10px;
}

.fadeOut p
{
    font-size: 18px;
}

.minute-adjuster {
    margin-top: 20px;
}

.minute-adjuster label {
    font-weight: bold;
    font-size: 18px;
}

.minute-adjuster input {
    margin-right: 10px;
    padding: 5px;
    border-radius: .5rem;
    border-width: thin;
    font-size: 15px;
}

.minute-adjuster button {
    padding: 6px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.minute-adjuster button:hover {
    background-color: #45a049;
}

.timer-display {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
